<h1> Hello, User! </h1>
<form action='/result'>
  <div class="form-group">
    <label for="sentence">Enter your sentence</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Capitalize!!!!</button>
</form>
